<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>IncrediblySimpleFMSynth (All).xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>IncrediblySimpleFMSynth (Shared Code).xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>IncrediblySimpleFMSynth (VST).xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>D7DA4DEB1E52EC194B042052</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DA1EA75A6C788B93A6D6D79F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FCCFDBBA431B08DD330666EE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
